/*************
    Variables
************/
:root {
  --primary-color: #eee;
  --secondary-color: #2222;
  --text-color: rgb(73, 73, 73);
  --bg-color: #fff;
  --spacing: 2.5rem 1rem;
  --purple: #64497e;
  --yellow: #fbe464;
}

/*************
Universal styles
************/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#googleMap {
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 45px; /* height of sticky header */
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  height: 100%;
}

h4 {
  text-transform: uppercase;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  border: none;
  border-radius: 4px;
  padding: 0.7rem 0.8rem;
  width: 100%;
}

label {
  display: block;
  padding-bottom: 0.5rem;
  text-align: left;
}

.content {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  margin: 1rem 0.1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.bg-purple {
  background-color: var(--purple);
  color: #fff;
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: #fff;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  align-items: center;
  flex-basis: 20%;
  text-align: center;
}

section {
  padding-bottom: 2.5rem;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
}

.horizontal-line {
  width: 100%;
  height: 1.5px;
  background-color: #eaeaea;
  margin: var(--spacing);
}

.previous,
.next {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grayed-out {
  color: rgba(201, 201, 201, 0.9);
}

.bg-gray {
  background-color: #efefef;
}

.bg-dark-gray {
  background-color: #e4e4e4;
}

.form-group {
  margin: 0.9rem 0;
  padding: 0 0.5rem;
}

/***********
    Header (Navbar)
**********/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.scrolled {
  background-color: rgba(19, 18, 18, 0.9);
}

.mobile-menu {
  display: none;
}

.topnav {
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.logo {
  margin-right: auto;
  font-size: 1.5rem;
}

.topnav > ul {
  display: flex;
}

.header a {
  text-align: center;
  padding: 14px 16px;
  color: #fff;
  text-transform: uppercase;
}

/***********
    Banner
**********/
.banner {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  vertical-align: middle;
}

.slides {
  display: none;
}

.carousel .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption {
  color: #fff;
  padding: var(--spacing);
}

.caption-content {
  width: 50%;
}

.banner-title {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing);
}

.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots .active,
.dot:hover {
  background-color: #fff;
}

@media (max-width: 800px) {
  .banner img {
    height: auto;
  }
  .caption-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .dots {
    bottom: 2px;
    padding-bottom: 0;
  }
}

/***********
    Welcome Section
**********/
#welcome {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#welcome .content {
  padding: 0 1rem;
}

.circle-icon-flex-item {
  display: flex;
  flex-direction: column;
}

.flex-item-8 {
  flex: 0.7;
  flex-basis: 25%;
  justify-self: flex-start;
  text-align: left;
}

.circle-icon-flex-container {
  padding-top: 2rem;
}

.icon-container {
  align-items: center;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  #welcome .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/***********
    Projects section
**********/
.projects-flex-container {
  justify-content: center;
}

@media (max-width: 800px) {
  .projects .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/***********
    Pricing Table Section
**********/
.pricing .flex-container {
  align-items: center;
}

.devider {
  flex-basis: 2px;
  background-color: #eaeaea;
  min-height: 200px;
}

@media (max-width: 800px) {
  .pricing .flex-item {
    flex-basis: 100%;
  }
  .devider {
    display: none;
  }
}

/***********
    Video Projects Section
**********/
.video-projects-flex-container {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
}

.video-projects-wrapper {
  padding: 3.5rem 0;
}

.video-projects-wrapper .flex-item {
  position: relative;
  flex-basis: 30%;
  min-width: 30%;
  margin: 0 1.5rem;
}

.video-projects-wrapper video {
  width: 100%;
}

#video-play-btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.carousel-controls .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.previous button,
.next button {
  background: transparent;
  border: none;
  color: #fff;
  margin-right: 2rem;
}

/*************
    Team Section
 ************/
#team .flex-container {
  justify-content: center;
}

#team .flex-item {
  margin: 1.5rem 3rem;
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  border-radius: 50%;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.socials {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.socials svg {
  color: #fff;
  cursor: pointer;
}

#team img:hover {
  opacity: 0.3;
}

#team .flex-item:hover .overlay {
  opacity: 0.7;
  background-color: #5c466d;
}

/***********
  Life in Zippy Section
 **********/
#life-in-zippy {
  background-color: #efefef;
  padding-top: 2rem;
}

#life-in-zippy .content {
  padding: 0 1rem;
}

.carousel-item {
  background-color: #ddd;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.zippy-life-images {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.images-flexbox {
  align-items: stretch;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: hidden;
}

#life-in-zippy .flex-item {
  cursor: pointer;
  flex-basis: 20%;
  min-width: 20%;
  min-height: 100%;
  margin: 0;
}

.zippy-life-images .previous,
.zippy-life-images .next {
  background-color: #333;
  cursor: pointer;
}

.zippy-life-images .previous {
  margin-right: 1rem;
}
.zippy-life-images .next {
  margin-left: 1rem;
}

.previous span,
.next span {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
}

/************
  Subscription Section
*************/
#subscription {
  background-image: url("../images/golden-gate.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#subscription .form-group {
  text-align: right;
}

#subscription input[type="email"] {
  border-radius: 4px;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  padding: 0.7rem 0.8rem;
  width: 50%;
}

input[type="submit"] {
  border: 2px solid #767676;
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  padding: 0.7rem 0.8rem;
  margin-left: -6.99px;
  text-transform: uppercase;
  width: auto;
}

button[type="submit"] {
  border-radius: 4px;
  display: block;
  float: right;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

#subscription .bg-purple {
  align-self: flex-end;
}

/************
  Blog Section
************/
@media (max-width: 800px) {
  #blog .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/*************
  Map and Contact Section
**************/
.map-and-contact .flex-container {
  align-items: flex-start;
}

.map-and-contact .flex-item {
  align-self: flex-start;
  flex-basis: 50%;
  height: 100%;
  text-align: left;
}

.map-and-contact form {
  width: 100%;
}

.contact-wrapper {
  width: 50%;
  padding: 0.5rem;
}

.map-and-contact h2 {
  text-align: left;
}

/*************
  Google Maps
*************/

/**********
  Footer
**********/
footer {
  padding-bottom: 2rem;
}

footer .flex-container {
  align-items: flex-start;
}

@media (max-width: 800px) {
  footer .flex-item {
    flex-basis: auto;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/************
  Key Frames 
************/
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
