/*************
    Variables
************/
:root {
  --primary-color: #eee;
  --secondary-color: #2222;
  --text-color: rgb(73, 73, 73);
  --bg-color: #fff;
  --spacing: 2.5rem 1rem;
  --purple: #64497e;
  --yellow: #fbe464;
}

/*************
Universal styles
************/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#googleMap {
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 45px; /* height of sticky header */
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  height: 100%;
}

h4 {
  text-transform: uppercase;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  border: none;
  border-radius: 4px;
  padding: 0.7rem 0.8rem;
  width: 100%;
}

label {
  display: block;
  padding-bottom: 0.5rem;
  text-align: left;
}

.content {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  margin: 1rem 0.1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.bg-purple {
  background-color: var(--purple);
  color: #fff;
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: #fff;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  align-items: center;
  flex-basis: 20%;
  text-align: center;
}

section {
  padding-bottom: 2.5rem;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  margin-top: 1.5rem;
}

.previous,
.next {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grayed-out {
  color: rgba(201, 201, 201, 0.9);
}

.bg-gray {
  background-color: #efefef;
}

.bg-dark-gray {
  background-color: #e4e4e4;
}

.form-group {
  margin: 0.9rem 0;
  padding: 0 0.5rem;
}

/***********
    Header (Navbar)
**********/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.topnav {
  align-items: center;
  width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.logo {
  margin-right: auto;
  font-size: 1.5rem;
}

header ul {
  align-items: stretch;
  display: flex;
  height: 100%;
}

.header a {
  text-align: center;
  padding: 14px 16px;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
}

.scrolled {
  background-color: rgba(19, 18, 18, 0.9);
}

.mobile-menu {
  align-items: center;
  background-color: #333;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -40%;
  width: 40%;
  height: auto;
  transition: margin-left 0.3s ease-in-out;
  opacity: 0.87;
}

.mobile-menu ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.mobile-menu li a {
  display: block;
  height: 100%;
  color: #fff;
}

.header a.active {
  color: var(--yellow);
}

.mobile-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu {
  align-items: center;
  background-color: rgb(19, 19, 19);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;
  opacity: 0.6;
  transition: all 0.5s ease-out;
}

.menu-line {
  background-color: #fff;
  flex-basis: 70%;
  width: 70%;
  max-height: 3px;
  margin: 4px 0;
  transition: all 0.5s ease-out;
}

.menu.close {
  transform: rotate(180deg);
}

/* Styling the three lines
        to make it an X */
.menu.close .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.menu.close .menu-line:nth-child(2) {
  opacity: 0;
}

.menu.close .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 900px) {
  .topnav {
    display: none;
  }

  .scrolled {
    background: none;
  }
  .menu {
    display: flex;
  }
}

@media (min-width: 901px) {
  .mobile-menu {
    display: none;
  }
}

/***********
    Banner
**********/
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  vertical-align: middle;
}

.slides {
  display: none;
}

.carousel .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption {
  color: #fff;
  padding: var(--spacing);
}

.caption-content {
  width: 50%;
}

.banner-title {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing);
  padding-top: 0;
  padding-bottom: 0;
}

.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots .active,
.dot:hover {
  background-color: #fff;
}

@media (max-width: 800px) {
  .banner .content {
    width: 100%;
  }
  .banner img {
    height: 100vh;
  }
  .caption-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .dots {
    bottom: 2px;
    padding-bottom: 0;
  }
}

/***********
    Welcome Section
**********/
#welcome {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#welcome .content {
  padding: 0 1rem;
}

.circle-icon-flex-item {
  display: flex;
  flex-direction: column;
}

.flex-item-8 {
  flex: 0.7;
  flex-basis: 25%;
  justify-self: flex-start;
  text-align: left;
}

.circle-icon-flex-container {
  padding-top: 2rem;
}

.icon-container {
  align-items: center;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  #welcome .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/***********
    Projects section
**********/
.projects-flex-container {
  justify-content: center;
}

.card {
  flex-basis: 25%;
  width: 25%;
}

@media (max-width: 800px) {
  .projects .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/***********
    Pricing Table Section
**********/
.pricing .flex-container {
  align-items: center;
}

.devider {
  flex-basis: 2px;
  background-color: #eaeaea;
  min-height: 200px;
}

@media (max-width: 800px) {
  .pricing .flex-item {
    flex-basis: 100%;
  }
  .devider {
    display: none;
  }
}

/***********
    Video Projects Section
**********/
.video-projects-flex-container {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
}

.video-projects-wrapper {
  padding: 3.5rem 0;
}

.video-projects-wrapper .flex-item {
  display: none;
  position: relative;
  flex-basis: 46%;
  min-width: 46%;
  margin: 0 1rem;
}

.video-projects-wrapper video {
  width: 100%;
}

#video-play-btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.video-projects-wrapper .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* .previous,
.next {
  margin-left: 4.5rem;
  margin-right: auto;
} */

.previous button,
.next button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 3rem;
}

.slide-in-from-right {
  animation: slide-in-from-right 0.5s forwards;
  -webkit-animation: slide-in-from-right 0.5s forwards;
}

.slide-in-from-left {
  animation: slide-in-from-left 0.5s forwards;
  -webkit-animation: slide-in-from-left 0.5s forwards;
}

@media (max-width: 800px) {
  .video-projects-wrapper .flex-item {
    flex-basis: 55%;
    min-width: 55%;
  }
}

/*************
    Team Section
 ************/
#team .flex-container {
  justify-content: center;
}

#team .flex-item {
  margin: 1.5rem 3rem;
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  border-radius: 50%;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.socials {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.socials svg {
  color: #fff;
  cursor: pointer;
}

#team img:hover {
  opacity: 0.3;
}

#team .flex-item:hover .overlay {
  opacity: 0.7;
  background-color: #5c466d;
}

/***********
  Life in Zippy Section
 **********/
#life-in-zippy {
  background-color: #efefef;
  padding-top: 2rem;
}

#life-in-zippy .content {
  padding: 0 1rem;
}

.carousel-item {
  background-color: #ddd;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.zippy-life-images {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.images-flexbox {
  align-items: stretch;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: hidden;
}

#life-in-zippy .flex-item {
  cursor: pointer;
  flex-basis: 20%;
  min-width: 20%;
  min-height: 100%;
  margin: 0;
}

.zippy-life-images .previous,
.zippy-life-images .next {
  background-color: #333;
  cursor: pointer;
}

.zippy-life-images .previous {
  margin-right: 1rem;
}
.zippy-life-images .next {
  margin-left: 1rem;
}

.previous span,
.next span {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
}

/************
  Subscription Section
*************/
#subscription {
  background-image: url("../images/golden-gate.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#subscription .content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#subscription form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  margin: 0 auto;
}

#subscription .form-group {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  width: 100%;
}

#subscription input[type="email"] {
  border-radius: 4px;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  padding: 0.7rem 0.8rem;
  width: 75%;
}

input[type="submit"] {
  border: 2px solid #767676;
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  padding: 0.7rem 0.8rem;
  margin-left: -6.99px;
  text-transform: uppercase;
  width: 25%;
}

button[type="submit"] {
  border-radius: 4px;
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

#subscription .bg-purple {
  align-self: flex-end;
}

@media (max-width: 800px) {
  #subscription form {
    width: 100%;
  }

  #subscription .content {
    width: 100%;
  }
}

/************
  Blog Section
************/
@media (max-width: 800px) {
  #blog .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/*************
  Map and Contact Section
**************/
.map-and-contact .flex-container {
  align-items: flex-start;
}

.map-and-contact .flex-item {
  align-self: flex-start;
  flex-basis: 50%;
  height: 100%;
  text-align: left;
}

.map-and-contact form {
  width: 100%;
}

.contact-wrapper {
  width: 50%;
  padding: 0.5rem;
}

.map-and-contact h2 {
  text-align: left;
}

/*************
  Google Maps
*************/

/**********
  Footer
**********/
footer {
  padding-bottom: 2rem;
}

footer .flex-container {
  align-items: flex-start;
}

@media (max-width: 800px) {
  footer .flex-container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .flex-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/************
  Key Frames 
************/
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in-from-right {
  0% {
    background-position-x: translateX(100%);
  }
  100% {
    background-position-x: translateX(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-in-from-left {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
