:root {
  --brand-color: #b6884d;
  --primary: #39aadd;
  --primary-hover: #057bb1;
  --secondary: #6c757d;
  --main-bg-color: #fff;
  --text-color: #535353;
  --horizontal-spacing: #;
  --vertical-spacing: #;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
}

/* Box Sizing & Font Sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 55%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }
}

/*===========
    Base Styles
=============*/
body {
  background-color: var(--main-bg-color);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  align-items: center;
  display: flex;
}

.main-content {
  padding-top: 5rem;
}

.content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary);
}

.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: auto;
  column-gap: 3.5rem;
  row-gap: 3.5rem;
  align-items: flex-start;
}

.bi-facebook {
  color: #4267b2;
}
.bi-twitter {
  color: #1ea2f1;
}
.bi-linkedin {
  color: #2869b2;
}
